<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.a13051_000.buffetmealsystem">
    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="16" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/udon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:largeHeap="true"
        android:name="com.example.a13051_000.buffetmealsystem.App"
        >

        <activity android:name=".WelcomeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme1.NoActionBar">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>



        <activity android:name=".LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            >
        </activity>

        <activity android:name=".RegisterActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme3.NoActionBar">
        </activity>

        <activity android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity
            android:name=".Res_Sales_Promotion"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity
            android:name=".User.UserActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity
            android:name=".ToolActivity">
        </activity>

        <activity
            android:name=".User.User_information_change"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity
            android:name=".User.User_password_change"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity
            android:name=".restaurant.Classfication.Ves_Restaurant"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity
            android:name=".restaurant.Classfication.Meat_Restaurant"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity
            android:name=".restaurant.Classfication.Soup_Restaurant"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity
            android:name=".restaurant.Classfication.Drink_Restaurant"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity
            android:name=".restaurant.Classfication.Dessert_Restaurant"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity
            android:name=".restaurant.Classfication.Rice_Restaurant"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>


        <activity
            android:name=".restaurant.MainActivity_r"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity
            android:name=".BaseActivity">
        </activity>

        <activity
            android:name=".Fragment.FragmentForm.Detail"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity
            android:name=".Order.OrderDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity
            android:name=".Order.OrderCar"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity
            android:name=".Comment.CommentActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity
            android:name=".Settings.SettingsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity
            android:name=".Settings.Setting_suggestions"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity
            android:name=".Settings.Setting_AboutUs"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity
            android:name=".Scan.ScanActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            >
        </activity>

        <activity
            android:name=".Scan.MipcaActivityCapture"
            android:configChanges="orientation|keyboardHidden"

            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" >
        </activity>

        <activity
            android:name=".Pay.PayActivity"
            android:theme="@style/AppTheme2.NoActionBar">
        </activity>

    </application>


    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
</manifest>