<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.a13051_000.buffetmealsystem">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/udon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        >

        <activity android:name=".WelcomeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>



        <activity android:name=".LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".RegisterActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity
            android:name=".User.UserActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity
            android:name=".User.User_information_change"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity
            android:name=".User.User_password_change"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity
            android:name=".restaurant.Classfication.Chinese_Restaurant"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity
            android:name=".restaurant.Classfication.Foreign_Restaurant"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity
            android:name=".restaurant.Classfication.Pizza_Restaurant"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity
            android:name=".restaurant.Classfication.Bar"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity
            android:name=".restaurant.Classfication.Fast_Food_Restaurant"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity
            android:name=".restaurant.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity
            android:name=".BaseActivity">
        </activity>

        <activity
            android:name=".Order.OrderDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity
            android:name=".Order.EnsureOrderActivity"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".Order.OrderCar"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity
            android:name=".CommentActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity
            android:name=".Settings.SettingsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity
            android:name=".Settings.Setting_Suggestions"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity
            android:name=".Settings.Setting_AboutUs"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="16" />


        <activity
            android:name=".ScanActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            >
        </activity>

        <activity
            android:name=".MipcaActivityCapture"
            android:configChanges="orientation|keyboardHidden"

            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" >
        </activity>

    </application>

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
</manifest>